{% extends 'base.html' %}


{% block content %}


<!-- page image -->
<header id="page-header">

</header>

<!--about-->
<div class="about text-center">
    <p class="font-weight-bold"><span style="color:red;">Health & Blood™</span> solidifies its commitment to deliver safe, quality, and adequate blood supply to all.
<br>
Goals and objectives:
We aim to create more blood banks and blood centers for accessibility of blood supply.<br> We want to reach the most vulnerable communities in our country to ensure that there is SAFE BLOOD FOR ALL.

 "Everyone should try and encourage everyone to donate blood"</p>
</div>



{% endblock  %}