{% extends 'base.html' %}


{% block content %}

<div class="about_page">
    <div class = "Contact_body">
    <!-- page image -->


    <!-- address -->
    <div class="address text-center">
        <address class="p-5 font-weight-bold">| Contact us |<br>
            <br><p style="color:red; display:inline;">Health & Blood™</p><br>Sector- 4 , Crossing Republik, Ghaziabad, Uttar Pradesh, India
<br>Pin Code : 201016
<br>Phone no: 9988776655
<br>Email: prakhar2019cs012@abesit.edu.in</address>
    </div>
    </div>
</div>


{% endblock  %}